

$white: #FFFFFF;
$darkGrey: #575757;;
$lightYellow: #FFC400;
$darkYellow: #D4AF37;

$boxShadow: 0px 3px 6px #00000029;

$white: #FFF;

//light Mode

$background: #FDFFF9;
$darkgreen: #A7C193;
$lightblue: #83E7EA;
$darktext: #3F3F3F;
$timeline: #004E11;
$pixsel: #D4AF37;
$pixselhover: #d4bf37;
$pixselactive: #d2c04c;
$itvet: #151A40;
$itvethover: #1d2562;
$itvetactive: #292f5c;
$liamhover: #e7e7e7;
$liamactive: #c5c5c5;

$primaryGradient: linear-gradient(to bottom right, #27E2C1, #5BD7A4);
$primaryGradientActive: linear-gradient(to bottom right, #5bd7a3b5, #27e2c0d6);
$primaryGradientHover: linear-gradient(to bottom right, #5BD7A4, #27E2C1);
$secondaryGradient: linear-gradient(to bottom right, #1ABCC6, #60D8D0);
$secondaryGradientActive: linear-gradient(to bottom right, #60d8d0c7, #1abdc6d8);
$secondaryGradientHover: linear-gradient(to bottom right, #60D8D0, #1ABCC6);
$thirdGradient: linear-gradient(to bottom right, #c61a9e, #d860c4);
$thirdGradientActive: linear-gradient(to bottom right, #d860c4d1, #c61a9eac);
$thirdGradientHover: linear-gradient(to bottom right, #d860c4, #c61a9e);